language: python
cache: pip
sudo: false

install:
  - pip install tox

matrix:
    include:
      - env: TOXENV=py34
        python: 3.4
      - env: TOXENV=py35
        python: 3.5
      - env: TOXENV=py36
        python: 3.6
      - env: TOXENV=py37
        python: 3.7
        dist: xenial
        sudo: true

script:
  - tox

after_success:
    - bash <(curl -s https://codecov.io/bash)
